@font-face {
  font-family: 'Padauk';
  src: url('src/Padauk/Padauk-Bold.woff2') format('woff2'),
    url('src/Padauk/Padauk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Padauk';
  src: url('src/Padauk/Padauk-Regular.woff2') format('woff2'),
    url('src/Padauk/Padauk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
